# .NET folders
[Bb]in/
[Oo]bj/
publish/
publish_exe/

# Node folders
node_modules/
dist/

# Docker
.dockerignore

# IDEs
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Agent heavy folders (ignore all publish variations)
Agent/publish_exe*/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
